<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cardo&family=Oswald:wght@700&display=swap" rel="stylesheet">

<style type="text/css">

.navbar {
  background-color: #800029;
  font-family: 'Cardo', serif;  
  font-size: 20px;
}

.navbar-brand {
  background-color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.navbar-logo img {
   width: 40px;
   position: absolute;
   right: 0px;
   margin: 10px;
}

body {
  background-color: #000000;
}

.chart-title {
  font-family: 'Cardo', serif;
  font-size: 30px;
  color: #000000;
}
.color1 {
  background-color: #FFF4E3; 
}
.color2 {
  background-color: #BDD7F3; 
}
.color3 {
  background-color: #FFCDA3; 
}
</style>
